@import '../styles/variables.module.sass'
 
.text__wrapper
  overflow: hidden

.text
  display: inline-block
  transition: $transition,


.enter
  transform: translate3d(0,$transformValue,0),
  opacity: 0,