@import './variables'
  
html, body 
  padding: 0
  margin: 0
  font-family: 'Montserrat Alternates', sans-serif
  font-weight: normal
  color: $color-font
  font-size: 1rem
a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

h1
  font-family: 'Martel', serif
  font-weight: normal
  font-size: 1.953rem
  margin-bottom: $margin-standard
h2
  font-family: 'Poppins', sans-serif
  font-weight: normal
  font-size: 1.25rem
  margin-bottom: $margin-standard

@media screen and (min-width: 1200px)
  h1
    font-family: 'Martel', serif
    font-weight: normal
    font-size: 3.052rem
    margin-bottom: $margin-standard
  h2
    font-family: 'Poppins', sans-serif
    font-weight: normal
    font-size: 1.563rem
    margin-bottom: $margin-standard
  html, body
    padding: 0
    margin: 0
    font-family: 'Montserrat Alternates', sans-serif
    font-weight: normal
    color: $color-font
    font-size: 1.25rem
