@import './variables.module.sass'
  
.home__container
  width: 100%

@media screen and (orientation: landscape)
  .home__container
    height: 100%
    width: auto
    white-space: nowrap
    position: relative
    & > *
      margin-right: 8 * $margin-standard
  
