@import 'variables.module'
  
.image__wrapper
  position: relative

.image__background
  position: absolute
  inset: 0
  background-color: $color-secondary
  transform: translate3d(-$margin-standard, $margin-standard,0)