@import 'variables.module'
  
.image__background
  background-color: $color-secondary
  position: absolute
  left: 50%
  top: 0
  transform: translate3d(-50%,0,0)
  margin-top: $margin-standard / 1.5

@media screen and (orientation: portrait)
  .image__background
    transform: translate3d(calc(-50% - $margin-standard / 2),0,0)
