@import './variables.module'

.intro
  position: relative
  width: 100%
  height: calc( 100vh - 3 * $margin-standard )
  padding-top: 3rem
  background-color: $color-background
  display: flex
  flex-direction: column
  & > div:first-child
    height: 60%
   

@media screen and (orientation: landscape)