@import './variables.module'

.intro
  width: 100%
  padding-top: 3rem
  background-color: $color-background
  & > *
    margin-bottom: $margin-standard * 2

@media screen and (orientation: landscape)
  .intro
    display: flex
    flex-direction: row-reverse
    align-items: center
    justify-content: left
    height: 100%
    width: calc(100% - 2 * $margin-standard)
    & > *
      display: inline-block
      width: 50%