@import '../styles/variables'

// ----------ICON---------- //

.menu__icon > *
  width: 3rem
  height: 1px
  background-color: $color-font
  margin-bottom: $margin-standard / 4
  display: block
  transition: $transition
  &:last-child
    margin-bottom: 0

.menu__icon_exit > *
  &:nth-child(1)
    transform: translate3d(0,calc($margin-standard / 4 + 1px),0) rotate(45deg)
  &:nth-child(2)
    transform: scale(0)
  &:nth-child(3)
    transform: translate3d(0,calc( -1 * ($margin-standard / 4 + 1px)),0) rotate(-45deg)

// ----------BUTTON---------- //
  
.menu__button
  margin-left: 0

// ----------BACKGROUND---------- //

.menu__background
  background-color: $color-secondary
  width: 320vh
  height: 320vh
  border-radius: 50%
  display: flex
  position: fixed
  top: calc($margin-standard + $margin-standard / 4 + 1px)
  left: calc(-320vh + $margin-standard + 0.5 * 3rem)
  right: auto
  transition: $transition
  transform: translate3d(50%, -50%, 0) scale(0)

.menu__background_opened
  transform: translate3d(50%, -50%, 0) scale(1)


// ----------MEDIA-QUERIES---------- //

@media (orientation: portrait)
  .menu__button
    margin-left: auto

  .menu__background
    width: 210vh
    height: 210vh
    left: auto
    right: $margin-standard + 0.5 * 3rem