@import 'variables.module'
  

.projects__desktopView

.projects__mobileView:nth-child(odd) > div:nth-child(2)
  background-color: $color-secondary

.projects__mobileView_textSectionWrapper
  width: 100vw
  margin-left: -$margin-standard
  padding: $margin-standard