@import 'variables.module'
  
.projects__desktopView
  margin-left: $margin-standard * 3
  background-color: $color-background
  display: flex
  align-items: center
  margin-right: 4 * $margin-standard
  & > *:first-child
    margin-right: 2 * $margin-standard

.projects__mobileView:nth-child(odd) > div:nth-child(2)
  background-color: $color-secondary

.projects__mobileView_textSectionWrapper
  width: 100vw
  padding: $margin-standard

.project__titleWrapper
  margin-top: $margin-standard
  position: absolute

@media screen and (orientation: landscape)
  .projects
    display: inline-flex
    height: 100%

    
    