$margin-standard: 3rem
$color-background: #131415
$color-font: #e8e7e6
$color-secondary: #e63228
$transition: all 1s ease
$transformValue: 3rem

:export
  transitionValue: $transition
  transformValue: $transformValue
